In [1]:
import numpy as np
import pandas as pd
from pandas import read_csv

import matplotlib.pyplot as plt

In [2]:
def df_format(df, idx):
    idx = 1
    x = df.loc[idx].reset_index()
    x.insert(0, 'idx', idx)
    x.reset_index(drop=False)
    x.columns = x.iloc[0]
    return x[1:]

In [3]:
raw = open('.\data\IEAD.CSV')

df = pd.read_csv(raw, sep=',', header=None, encoding='utf-8')
df

     0    1    2    3  4
0  0.1  0.2  0.1  0.0  0
1  0.4  0.5  0.3  0.1  0
2  0.1  0.2  0.1  0.0  0

In [14]:
df.index = [-1, 0, 1]
df

      0    1    2    3  4
-1  0.1  0.2  0.1  0.0  0
 0  0.4  0.5  0.3  0.1  0
 1  0.1  0.2  0.1  0.0  0

In [26]:
pd.DataFrame()

[-1, 0, 1]

In [11]:
filename = 'sex'
f = open(f"{filename}.txt", 'w')
f.write("# type=IEAD\n\
# gtype=2D\n\
# x=angle (degrees)\n\
# y=energy (eV)\n\
# nx=201\n\
# ny=1242\n\
# title=Ion energy and angle distributions")

0  1.0  0.0  0.1
1    1    1  0.2
2    1    2  0.1
3    1    3  0.0
4    1    4  0.0

0  1.0  0.0  0.1
1    1    1  0.2
2    1    2  0.1
3    1    3  0.0
4    1    4  0.0

0  1.0  0.0  0.1
1    1    1  0.2
2    1    2  0.1
3    1    3  0.0
4    1    4  0.0